doctype html
html(lang="en")
 head
link(href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css', rel='stylesheet')
   title Clypeus Dashboard 
   body(id="background" style="height: 100%; width: 100%; position: fixed; z-index: -100;")
    header
     p(class="font-mono" style="margin: 20px; text-align: center; font-size: 200px; font-weight: 900; color: #FF69B4;") Clypeus 
      a(href="/dashboard")
       div(style="text-align: center; vertical-align:middle;")
        button(class="font-sans" style="background-color: #5539cc; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 20px; box-shadow: 10px 10px black;") Go To Dashboard
   script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js") 
   script(src="https://cdn.jsdelivr.net/gh/tengbao/vanta@master/dist/vanta.net.min.js") 
   script(type="text/javascript").
    VANTA.NET({
    el: "#background",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x00FFFF
    })